# Object files
*.o
# Built binaries
*bin
# Backup files
*~
*.orig
.*.swp
cachegrind.out*
# Visual Studio Code user settings
.vscode/
*.code-workspace
# ctags index files
tags
# GDB initialization scripts
.gdbinit

# Eclipse symbol file (output from make eclipsesym)
eclipsesym.xml
/toolchain
# Ignore created Arduino sketch files
_sketches.cpp

# local override files
Makefile.local

# Vagrant
.vagrant
.cache
.bash_history
.sudo_as_admin_successful

# clang-complete command line argument lists (Vim: clang-complete, Atom: linter-clang, autocomplete-clang addons)
.clang_complete
# YouCompleteMe (https://github.com/Valloric/YouCompleteMe)
.ycm_extra_conf.py

# Python compiled files
*.pyc

# Ignore download cache
.dlcache

# scan-build artifacts
scan-build/

# git
.gitconfig
.history
.local
.pyterm
.python_history
.viminfo

